{% extends '::admin/index.html.twig' %}


{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <h4 class="pull-left page-title">Administration</h4>
            <ol class="breadcrumb pull-right">
                <li><a href="#">Administration</a></li>
                <li class="active">Utilisateurs List</li>
            </ol>
        </div>
    </div>

    <div class="panel">

        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-info">Message flash : {{ message }}</div>
        {% endfor %}

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Users list</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Fullname</th>
                                            <th>Phone</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for utilisateur in utilisateurs %}
                                            <tr>
                                                <td>{{ utilisateur.id }}</td>
                                                <td>{{ utilisateur.username }}</td>
                                                <td>{{ utilisateur.email }}</td>
                                                <td>{{ utilisateur.fullname }}</td>
                                                <td>{{ utilisateur.phone }} </td>
                                                <td>
                                                    <a href="{{ path('admin_utilisateur_show',{ 'id': utilisateur.id }) }}" ><i class="fa fa-eye"></i></a>

                                                    <a href="{{ path('admin_utilisateur_edit',{ 'id': utilisateur.id }) }}"><i class="fa fa-edit"></i></a>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Row -->

            <div class="col-sm-12">
                <div class="m-b-30 text-center">
                    <a class="btn btn-primary waves-effect waves-light" href="#">Create a new user <i class="fa fa-plus"></i></a>
                </div>
            </div>

        </div>
        <!-- end: page -->

    </div> <!-- end Panel -->
{% endblock %}

